<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>  
  <add name="VMConfigurationsDatabase"
   providerName="ADO.NET"
   connectionString="Server=tcp:diamonddogs.database.windows.net,1433;Initial Catalog=VirtualMachineConfigurations;Persist Security Info=False;User ID=brajo;Password=!H6K@z@j9A}+y>E;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />  
</connectionStrings>  